#header {
    color:brown;
    text-shadow: white 3px 5px;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}